        <li class="nav-item">
<a asp-page="/MovieLists/MyFavorites">My Favorites</a>

        </li>

 <li><a asp-page="/UserStatistics">My Statistics</a></li>
<a asp-page="/MovieLists/WatchedMovies" class="nav-link">Watched Movies</a>